body {
    font-family: 'Roboto', sans-serif;
}
.hero { 
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header-links, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.title {
    font-size: 18px;
    color: #E5E7EB;
   
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    
}

.placeholder {
    color: #F9FAF8;
    background-color: darkgray;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.signup {
    background-color: #3882F6;
}

button {
    color: #3882F6;
}

footer {
    background-color: #1F2937;
}