body {
    background-color: #1F2937;
    font-family: roboto, sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0.25em 5%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 90%;
}

.nav li {
    display: inline;
    color: #F9FAF8;
}

a:hover {
    color: #3882F6;
}

button:hover {
    color: #1F2937;
}

.push {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: auto;
}

.flex-container1 {
    display: flex;
    margin: 100px 0px;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    max-width: 90%;
    
}

.intro {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1em;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    padding: 8px 36px;
    
}

.goat{
    max-width: auto;
    max-height: 320px;  
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    padding: 4em 0;
}

h1 {
    padding-bottom: 1em;
}

.flex-container3 {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 3em;
 
}

.card {
    max-width: 196px;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
 max-width: 196px;
 height: auto;
 border-radius: 8px;
 border: #1F2937 solid;
}

.flex-container4 {
    background-color: #E5E7EB;
    padding: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4em;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 90%;
    margin: 0;
    padding: 0;
}

.attribution {
    font-weight: bold;
    align-self: flex-end;
    color: #1F2937;
}

.flex-container5 {
  background-color: #F9FAF8;

  padding: 4em 0;
  display: flex;
  justify-content: center;
}

.col1 h2, .col1 p{
    margin: 0;
    color: #F9FAF8
}

h2 {
    padding-bottom: 4px;
}

.flex-container6 {
    background-color: #3882F6;
    padding: 4em;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    gap: 8em;
    
}

.submit {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border: #F9FAF8 solid;
    border-radius: 8px;
    padding: 8px 36px;
   
}

footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    padding: 2em 0;
}